<!-- footer  -->
<footer class="main-footer">
  <%= link_to "https://www.twitter.com", target: "_blank" do %>
    <%= fa_stacked_icon "twitter", class: "fa-2x", base: "", id: "aqua" %>
  <% end %>
  <%= link_to "https://www.facebook.com", target: "_blank" do %>
    <%= fa_stacked_icon "facebook", class: "fa-2x", base: "", id: "white" %>
  <% end %>
  <%= link_to "https://www.instagram.com", target: "_blank" do %>
    <%= fa_stacked_icon "instagram", class: "fa-2x", base: "", id: "purple" %>
  <% end %>
  <br><br>
  <span>Copyright (c) 2017 Copyright Holder All Rights Reserved.</span>
</footer>
