<!-- main header -->
<header class="main-header">
  <div class="container clearfix">
    <!-- <%= link_to "Coffee Shop", "", class: "name" %> -->
    <h1 class="name"><%= link_to 'Coffee Shop', root_path %></h1>
    <ul class="main-nav">
      <li><%= link_to 'coffee', root_path %></li>
      <li><%= link_to 'donuts', root_path %></li>
      <li><%= link_to 'cake', root_path %></li>
      <li><%= link_to 'tea', root_path %></li>
      <li><%= link_to 'about', root_path %></li>

      <!-- <li><%= link_to "" do %>
        <%= fa_stacked_icon "user", class: "fa-2x", base: "", id: "lightblue" %>
      <% end %></li> -->
      <li><i class="fa fa-user fa-2x"></i></li>
      <li><i class="fa fa-shopping-cart fa-2x" id="lightblue"></i></li>
    </ul>
  </div>
</header>
