<!-- main header -->
<header class="main-header">
  <div class="container clearfix">
    <!-- <%= link_to "Coffee Shop", "", class: "name" %> -->
    <h1 class="name"><a href="index.html">Coffee Shop</a></h1>
    <ul class="main-nav">
      <li><%= link_to "coffee", coffee_url %></li>
      <li><%= link_to "donuts", "#" %></li>
      <li><%= link_to "cake", "#" %></li>
      <li><%= link_to "tea", "#" %></li>
      <li><%= link_to "about", "#" %></li>
      <!-- <li><a href="donuts.html">donuts</a></li>
      <li><a href="cake.html">cake</a></li>
      <li><a href="tea.html">tea</a></li>
      <li><a href="about.html">about</a></li> -->
      <!-- <li><%= link_to "" do %>
        <%= fa_stacked_icon "user", class: "fa-2x", base: "", id: "lightblue" %>
      <% end %></li> -->
      <li><i class="fa fa-user fa-2x"></i></li>
      <li><i class="fa fa-shopping-cart fa-2x" id="lightblue"></i></li>
    </ul>
  </div>
</header>
<br>

<%= render "posts/header" %>
